<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq3LP_wZjpSBJeFIiB2avCJUhReBlPrcI</string>
	<key>GCM_SENDER_ID</key>
	<string>1014022811127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>mealapp-b6a4e</string>
	<key>STORAGE_BUCKET</key>
	<string>mealapp-b6a4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014022811127:ios:2a0dcacf077855501052f2</string>
	<key>DATABASE_URL</key>
	<string>https://mealapp-b6a4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>